body {
	background-color: #13D0A8;
	font-family: Roboto, Times, sans-serif;
	min-width:500px;


	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



main {
	position: absolute;
  margin: auto;
	min-width: 300px;

  top: 0;
  right: 0;
  bottom: 20%;
  left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}


header {

	position:relative;
	background-color: #fff;
	color: #13D0A8;
	font-weight: 400;
	text-overflow: none;
	white-space:nowrap;
	letter-spacing:-3px;
	font-size:calc(36px + 2vw);
	text-align: center;

	max-width: 60%;
	min-width: 250px;

	padding: 20px 40px;
	margin-bottom:20px;

opacity:0;
display:none;

    -webkit-animation: nameDrop 800ms 600ms cubic-bezier(.24, .59, .4, .96) forwards;
    animation: nameDrop 800ms 600ms cubic-bezier(.24, .59, .4, .96) forwards;

}

a {
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	font-size:calc(12px + .5vw);
}


nav a {
	margin: 0 10px;
	padding: 10px;

}


footer {
	position: absolute;
	bottom: 20px;
	right: 30px;
}






@-webkit-keyframes nameDrop {
    0% {
        -webkit-transform: translateY(-100x);
        transform: translateY(-100px);
        opacity:0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity:1;
    }
}
